.jumbotron {
  padding: 6rem 1rem;
  background-color: #ffecec;
}
#jewels {
  padding: 4rem 1rem;
  background-color: #ffffff;
}
#packages {
  padding: 4rem 1rem;
  background-color: #ffffff;
}
